.product-section {
  text-align: left; /* Alinhando título à esquerda */
  padding: 40px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: #004d00;
  margin-bottom: 40px;
}

.product-container {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 100, 0, 0.3);
  width: 80%;
  margin: auto;
}

.product-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-image-wrapper {
  flex: 1;
}

.product-image {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 100, 0, 0.4);
}

.product-info {
  flex: 1;
  text-align: center;
}

.product-title {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.view-products {
  display: block;
  margin: auto;
  padding: 12px 18px;
  font-size: 18px;
  background-color: #004d00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.view-products:hover {
  background-color: #008000;
}

/* Estilo das categorias seguindo o formato de abas */
.category-tabs {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 15px;
  overflow-x: auto;
  border-bottom: 2px solid #004d00;
  margin-top: 40px;
}

.category-tab {
  background-color: transparent;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.category-tab.active {
  color: #00FF00;
  border-bottom: 2px solid #00FF00;
}

.category-tab:hover {
  color: #008000;
}